.chatBg{
    
    position : relative;
    &::before{
        content: '';
        position : absolute;
        background-image:  url("../../assets/images/bgChats.png");
        opacity: 0.06;
        width: 100%;
        height: auto;
        min-height: 100%;
        top:0px;
        left : 0px;
        z-index : 0;
}
}

.msgBoxContainer{
    height: calc( 100vh - 121px );
}
