.searchBox{

    input{
        background-color: transparent;
        outline: none;
        border: none;
        
    }
}

.inputBox{
    input{
        background-color: transparent;
        outline: none;
        border: none;
        
    }
}