@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #111b21;
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

 
::-webkit-scrollbar{
    width : 6px;
    height: 6px;

}

::-webkit-scrollbar-track{
    background : rgba(11,20,26,0.2) !important;

}

::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.16) !important;    

}
